<%- include('../partials/header') %> 

    <h1>Skill Show</h1>
   
    <p>Skill: <%= skillName.ability %> - <a href="/skills/<%=skillName.id%>/edit">Edit</a></p>
    <%= skillName.learned ? 'learned, baby' : 'ya gotta learn it!' %>

 <%- include('../partials/footer') %>