<%- include('../partials/header') %> 

    <h1>Skill: <%= skillName.ability %></h1>
   
    <p><a href="/skills/<%=skillName.id%>/edit">Edit skill name & status</a></p>
    <p><strong><%= skillName.ability %></strong></b><%=skillName.info%></p>
    <p><strong>STATUS: </strong><%= skillName.learned ? 'Learned. Good work!' : 'Not learned. Uh oh, get learning!' %></p>
 <%- include('../partials/footer') %>